* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: darkseagreen;
  place-content: center;
}
